<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :company_number %>
    <%= form.text_field :company_number %>
  </div>

  <div class="field">
    <%= form.label :reg_address_care_of %>
    <%= form.text_field :reg_address_care_of %>
  </div>

  <div class="field">
    <%= form.label :reg_address_po_box %>
    <%= form.text_field :reg_address_po_box %>
  </div>

  <div class="field">
    <%= form.label :reg_address_address_line1 %>
    <%= form.text_field :reg_address_address_line1 %>
  </div>

  <div class="field">
    <%= form.label :reg_address_address_line2 %>
    <%= form.text_field :reg_address_address_line2 %>
  </div>

  <div class="field">
    <%= form.label :reg_address_post_town %>
    <%= form.text_field :reg_address_post_town %>
  </div>

  <div class="field">
    <%= form.label :reg_address_county %>
    <%= form.text_field :reg_address_county %>
  </div>

  <div class="field">
    <%= form.label :reg_address_country %>
    <%= form.text_field :reg_address_country %>
  </div>

  <div class="field">
    <%= form.label :reg_address_post_code %>
    <%= form.text_field :reg_address_post_code %>
  </div>

  <div class="field">
    <%= form.label :company_category %>
    <%= form.text_field :company_category %>
  </div>

  <div class="field">
    <%= form.label :company_status %>
    <%= form.text_field :company_status %>
  </div>

  <div class="field">
    <%= form.label :country_of_origin %>
    <%= form.text_field :country_of_origin %>
  </div>

  <div class="field">
    <%= form.label :dissolution_date %>
    <%= form.text_field :dissolution_date %>
  </div>

  <div class="field">
    <%= form.label :incorporation_date %>
    <%= form.text_field :incorporation_date %>
  </div>

  <div class="field">
    <%= form.label :accounts_account_ref_day %>
    <%= form.text_field :accounts_account_ref_day %>
  </div>

  <div class="field">
    <%= form.label :accounts_account_ref_month %>
    <%= form.text_field :accounts_account_ref_month %>
  </div>

  <div class="field">
    <%= form.label :accounts_next_due_date %>
    <%= form.text_field :accounts_next_due_date %>
  </div>

  <div class="field">
    <%= form.label :accounts_last_made_up_date %>
    <%= form.text_field :accounts_last_made_up_date %>
  </div>

  <div class="field">
    <%= form.label :accounts_account_category %>
    <%= form.text_field :accounts_account_category %>
  </div>

  <div class="field">
    <%= form.label :returns_next_due_date %>
    <%= form.text_field :returns_next_due_date %>
  </div>

  <div class="field">
    <%= form.label :returns_last_made_up_date %>
    <%= form.text_field :returns_last_made_up_date %>
  </div>

  <div class="field">
    <%= form.label :mortgages_num_mort_charges %>
    <%= form.text_field :mortgages_num_mort_charges %>
  </div>

  <div class="field">
    <%= form.label :mortgages_num_mort_outstanding %>
    <%= form.text_field :mortgages_num_mort_outstanding %>
  </div>

  <div class="field">
    <%= form.label :mortgages_num_mort_part_satisfied %>
    <%= form.text_field :mortgages_num_mort_part_satisfied %>
  </div>

  <div class="field">
    <%= form.label :mortgages_num_mort_satisfied %>
    <%= form.text_field :mortgages_num_mort_satisfied %>
  </div>

  <div class="field">
    <%= form.label :sic_code_sic_text_1 %>
    <%= form.text_field :sic_code_sic_text_1 %>
  </div>

  <div class="field">
    <%= form.label :sic_code_sic_text_2 %>
    <%= form.text_field :sic_code_sic_text_2 %>
  </div>

  <div class="field">
    <%= form.label :sic_code_sic_text_3 %>
    <%= form.text_field :sic_code_sic_text_3 %>
  </div>

  <div class="field">
    <%= form.label :sic_code_sic_text_4 %>
    <%= form.text_field :sic_code_sic_text_4 %>
  </div>

  <div class="field">
    <%= form.label :limited_partnerships_num_gen_partners %>
    <%= form.text_field :limited_partnerships_num_gen_partners %>
  </div>

  <div class="field">
    <%= form.label :limited_partnerships_num_lim_partners %>
    <%= form.text_field :limited_partnerships_num_lim_partners %>
  </div>

  <div class="field">
    <%= form.label :uri %>
    <%= form.text_field :uri %>
  </div>

  <div class="field">
    <%= form.label :previous_name_1_condate %>
    <%= form.text_field :previous_name_1_condate %>
  </div>

  <div class="field">
    <%= form.label :previous_name_1_company_name %>
    <%= form.text_field :previous_name_1_company_name %>
  </div>

  <div class="field">
    <%= form.label :previous_name_2_condate %>
    <%= form.text_field :previous_name_2_condate %>
  </div>

  <div class="field">
    <%= form.label :previous_name_2_company_name %>
    <%= form.text_field :previous_name_2_company_name %>
  </div>

  <div class="field">
    <%= form.label :previous_name_3_condate %>
    <%= form.text_field :previous_name_3_condate %>
  </div>

  <div class="field">
    <%= form.label :previous_name_3_company_name %>
    <%= form.text_field :previous_name_3_company_name %>
  </div>

  <div class="field">
    <%= form.label :previous_name_4_condate %>
    <%= form.text_field :previous_name_4_condate %>
  </div>

  <div class="field">
    <%= form.label :previous_name_4_company_name %>
    <%= form.text_field :previous_name_4_company_name %>
  </div>

  <div class="field">
    <%= form.label :previous_name_5_condate %>
    <%= form.text_field :previous_name_5_condate %>
  </div>

  <div class="field">
    <%= form.label :previous_name_5_company_name %>
    <%= form.text_field :previous_name_5_company_name %>
  </div>

  <div class="field">
    <%= form.label :previous_name_6_condate %>
    <%= form.text_field :previous_name_6_condate %>
  </div>

  <div class="field">
    <%= form.label :previous_name_6_company_name %>
    <%= form.text_field :previous_name_6_company_name %>
  </div>

  <div class="field">
    <%= form.label :previous_name_7_condate %>
    <%= form.text_field :previous_name_7_condate %>
  </div>

  <div class="field">
    <%= form.label :previous_name_7_company_name %>
    <%= form.text_field :previous_name_7_company_name %>
  </div>

  <div class="field">
    <%= form.label :previous_name_8_condate %>
    <%= form.text_field :previous_name_8_condate %>
  </div>

  <div class="field">
    <%= form.label :previous_name_8_company_name %>
    <%= form.text_field :previous_name_8_company_name %>
  </div>

  <div class="field">
    <%= form.label :previous_name_9_condate %>
    <%= form.text_field :previous_name_9_condate %>
  </div>

  <div class="field">
    <%= form.label :previous_name_9_company_name %>
    <%= form.text_field :previous_name_9_company_name %>
  </div>

  <div class="field">
    <%= form.label :previous_name_10_condate %>
    <%= form.text_field :previous_name_10_condate %>
  </div>

  <div class="field">
    <%= form.label :previous_name_10_company_name %>
    <%= form.text_field :previous_name_10_company_name %>
  </div>

  <div class="field">
    <%= form.label :conf_stmt_next_due_date %>
    <%= form.text_field :conf_stmt_next_due_date %>
  </div>

  <div class="field">
    <%= form.label :conf_stmt_last_made_up_date %>
    <%= form.text_field :conf_stmt_last_made_up_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
