<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Company number:</strong>
  <%= @company.company_number %>
</p>

<p>
  <strong>Reg address care of:</strong>
  <%= @company.reg_address_care_of %>
</p>

<p>
  <strong>Reg address po box:</strong>
  <%= @company.reg_address_po_box %>
</p>

<p>
  <strong>Reg address address line1:</strong>
  <%= @company.reg_address_address_line1 %>
</p>

<p>
  <strong>Reg address address line2:</strong>
  <%= @company.reg_address_address_line2 %>
</p>

<p>
  <strong>Reg address post town:</strong>
  <%= @company.reg_address_post_town %>
</p>

<p>
  <strong>Reg address county:</strong>
  <%= @company.reg_address_county %>
</p>

<p>
  <strong>Reg address country:</strong>
  <%= @company.reg_address_country %>
</p>

<p>
  <strong>Reg address post code:</strong>
  <%= @company.reg_address_post_code %>
</p>

<p>
  <strong>Company category:</strong>
  <%= @company.company_category %>
</p>

<p>
  <strong>Company status:</strong>
  <%= @company.company_status %>
</p>

<p>
  <strong>Country of origin:</strong>
  <%= @company.country_of_origin %>
</p>

<p>
  <strong>Dissolution date:</strong>
  <%= @company.dissolution_date %>
</p>

<p>
  <strong>Incorporation date:</strong>
  <%= @company.incorporation_date %>
</p>

<p>
  <strong>Accounts account ref day:</strong>
  <%= @company.accounts_account_ref_day %>
</p>

<p>
  <strong>Accounts account ref month:</strong>
  <%= @company.accounts_account_ref_month %>
</p>

<p>
  <strong>Accounts next due date:</strong>
  <%= @company.accounts_next_due_date %>
</p>

<p>
  <strong>Accounts last made up date:</strong>
  <%= @company.accounts_last_made_up_date %>
</p>

<p>
  <strong>Accounts account category:</strong>
  <%= @company.accounts_account_category %>
</p>

<p>
  <strong>Returns next due date:</strong>
  <%= @company.returns_next_due_date %>
</p>

<p>
  <strong>Returns last made up date:</strong>
  <%= @company.returns_last_made_up_date %>
</p>

<p>
  <strong>Mortgages num mort charges:</strong>
  <%= @company.mortgages_num_mort_charges %>
</p>

<p>
  <strong>Mortgages num mort outstanding:</strong>
  <%= @company.mortgages_num_mort_outstanding %>
</p>

<p>
  <strong>Mortgages num mort part satisfied:</strong>
  <%= @company.mortgages_num_mort_part_satisfied %>
</p>

<p>
  <strong>Mortgages num mort satisfied:</strong>
  <%= @company.mortgages_num_mort_satisfied %>
</p>

<p>
  <strong>Sic code sic text 1:</strong>
  <%= @company.sic_code_sic_text_1 %>
</p>

<p>
  <strong>Sic code sic text 2:</strong>
  <%= @company.sic_code_sic_text_2 %>
</p>

<p>
  <strong>Sic code sic text 3:</strong>
  <%= @company.sic_code_sic_text_3 %>
</p>

<p>
  <strong>Sic code sic text 4:</strong>
  <%= @company.sic_code_sic_text_4 %>
</p>

<p>
  <strong>Limited partnerships num gen partners:</strong>
  <%= @company.limited_partnerships_num_gen_partners %>
</p>

<p>
  <strong>Limited partnerships num lim partners:</strong>
  <%= @company.limited_partnerships_num_lim_partners %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @company.uri %>
</p>

<p>
  <strong>Previous name 1 condate:</strong>
  <%= @company.previous_name_1_condate %>
</p>

<p>
  <strong>Previous name 1 company name:</strong>
  <%= @company.previous_name_1_company_name %>
</p>

<p>
  <strong>Previous name 2 condate:</strong>
  <%= @company.previous_name_2_condate %>
</p>

<p>
  <strong>Previous name 2 company name:</strong>
  <%= @company.previous_name_2_company_name %>
</p>

<p>
  <strong>Previous name 3 condate:</strong>
  <%= @company.previous_name_3_condate %>
</p>

<p>
  <strong>Previous name 3 company name:</strong>
  <%= @company.previous_name_3_company_name %>
</p>

<p>
  <strong>Previous name 4 condate:</strong>
  <%= @company.previous_name_4_condate %>
</p>

<p>
  <strong>Previous name 4 company name:</strong>
  <%= @company.previous_name_4_company_name %>
</p>

<p>
  <strong>Previous name 5 condate:</strong>
  <%= @company.previous_name_5_condate %>
</p>

<p>
  <strong>Previous name 5 company name:</strong>
  <%= @company.previous_name_5_company_name %>
</p>

<p>
  <strong>Previous name 6 condate:</strong>
  <%= @company.previous_name_6_condate %>
</p>

<p>
  <strong>Previous name 6 company name:</strong>
  <%= @company.previous_name_6_company_name %>
</p>

<p>
  <strong>Previous name 7 condate:</strong>
  <%= @company.previous_name_7_condate %>
</p>

<p>
  <strong>Previous name 7 company name:</strong>
  <%= @company.previous_name_7_company_name %>
</p>

<p>
  <strong>Previous name 8 condate:</strong>
  <%= @company.previous_name_8_condate %>
</p>

<p>
  <strong>Previous name 8 company name:</strong>
  <%= @company.previous_name_8_company_name %>
</p>

<p>
  <strong>Previous name 9 condate:</strong>
  <%= @company.previous_name_9_condate %>
</p>

<p>
  <strong>Previous name 9 company name:</strong>
  <%= @company.previous_name_9_company_name %>
</p>

<p>
  <strong>Previous name 10 condate:</strong>
  <%= @company.previous_name_10_condate %>
</p>

<p>
  <strong>Previous name 10 company name:</strong>
  <%= @company.previous_name_10_company_name %>
</p>

<p>
  <strong>Conf stmt next due date:</strong>
  <%= @company.conf_stmt_next_due_date %>
</p>

<p>
  <strong>Conf stmt last made up date:</strong>
  <%= @company.conf_stmt_last_made_up_date %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
